<!doctype html>

<html lang="en">
  <head>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'base/icon/favicon.svg' %}"/>
    <link rel="stylesheet" href="{% static 'stock/css/view.css' %}"/>

    <script src="{% static 'base/lib/sweetalert/sweetalert2@11.js' %}"></script>
    <script src="{% static 'base/lib/monaco/min/vs/require.min.js' %}"></script>
    <script src="{% static 'base/js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'base/js/base.js' %}"></script>
    <script src="{% static 'stock/js/func.js' %}"></script>

    <title></title>

  </head>

  <body>

    {% csrf_token %}

    <div id="file-info" class="file-info">@{{ path }}</div>
    <div id="editor"></div>
    <script>
        let editor;
        let csrf_token = '{{ csrf_token }}';
        let body_width = window.innerWidth;
        let body_height = window.innerHeight;

        if (!localStorage.getItem("size")) {
            get_size_config("{{ screen }}");
            set_frame_size();
            set_local_storage();
        } else {
            get_local_storage();
            set_frame_size();
        }

        document.addEventListener('DOMContentLoaded', function() {
            let url = `files/load`;
            let post = {'func': 'load', 'path': '{{ path }}'};
            let data = ajax_sync(url, post);
            let vs = '{% static 'base/lib/monaco/min/vs' %}';

            monaco_init(vs, '{{ path }}', data);
        })

        window.addEventListener('resize', function () {
            body_width = window.innerWidth;
            body_height = window.innerHeight;

            get_size_config("{{ screen }}");
            set_frame_size();
            set_local_storage();
            editor.layout({ height: frame_height - 40 });
        });

    </script>
  </body>
</html>