{% extends "base-view.html" %}

{% block title %}
    <title>关联股票</title>
{% endblock %}

{% block content %}

    <div class="page-content">
      <div class="card card-body">
        <table id="table-list" class="table">
        <thead>
          <tr class="sticky-top table-title-background">
            <th class="table-title-text">代码</th>
            <th class="table-title-text">名称</th>
            <th class="table-title-text">价格</th>
            <th class="table-title-text">涨幅</th>
            <th class="disp-none">DECI</th>
          </tr>
        </thead>
        <tbody class="table-tbody">
          <tr>
              <td colspan="6" class="table-divider-market"></td>
          </tr>

          {% for list in lists %}
            <tr>
              <td class="table-cell-text">
                  <a id="code-{{ list.code }}" href="/link/stock/view/{{ list.market }}.{{ list.code }}">{{ list.code }}</a>
              </td>
              <td class="table-cell-text">
                  <label id="name-{{ list.code }}">{{ list.name }}</label>
              </td>
              <td class="table-cell-text">
                  <label id="close-{{ list.code }}"></label>
              </td>
              <td class="table-cell-text">
                  <label id="change-{{ list.code }}"></label>
              </td>
              <td class="disp-none">
                  <label id="deci-{{ list.code }}">2</label>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        </table>

        <div class="width-100 disp-h-center">
          <span class="
            {% if page_number > 1 %}
                pointer color-dimgrey" onclick="list_page_action('click', 'prev', '{{ page_number }}', '{{ order_type }}')">
            {% else %}
                color-lightgrey">
            {% endif %}

            <svg width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                 stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M15 6l-6 6l6 6"></path>
            </svg>
          </span>

          <div class="disp-h-center disp-v-center width-100px">
            <div id="page-number" contenteditable="true" class="general-textbox">{{ page_number }}</div>
            <span>/</span>
            <span>{{ page_total }}</span>
          </div>

          <span class="
            {% if page_number < page_total %}
                pointer color-dimgrey" onclick="list_page_action('click', 'next', '{{ page_number }}', '{{ order_type }}')">
            {% else %}
                color-lightgrey">
            {% endif %}

            <svg width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                 stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M9 6l6 6l-6 6"></path>
            </svg>
          </span>
        </div>

      </div>

    </div>

    <div class="page-foot"></div>

    <script>
        document.getElementById("table-list").style.opacity = '0';
        update_stock_list();
        document.getElementById("table-list").style.opacity = '100';

        setInterval(
            function() {update_stock_list();},
            {{ interval }}
        );

        document.getElementById("page-number").addEventListener("click", function() {
            const pageNumberDiv = document.getElementById("page-number");
            list_page_listen(pageNumberDiv, {{ page_total }}, '{{ order_type }}')
        });
    </script>

{% endblock %}
